body {
    font-family: 'Roboto', sans-serif;
}


.nav-link {
    color: #FFC000 !important;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

.navbar li {
    padding-right: 20px;
}

.navbar .btn {
    border-radius: 100px;
    width: 120px;
    background: linear-gradient(237.65deg, #FFC000 1.55%, 3FFBA00 95.8%);
    background-color: #FFC000;
    border-color: #FFC000;
}
