body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar {
    height: 100px;
}

.nav-link {
    color: #FFC000 !important;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

.navbar li {
    padding-right: 20px;
}

.navbar .btn, .courses .btn, .newsletter .btn{
    border-radius: 100px;
    width: 120px;
    background: linear-gradient(237.65deg, #FFC000 1.55%, 3FFBA00 95.8%);
    background-color: #FFC000;
    border-color: #FFC000;
}

/* Jumbotron */
.jumbotron {
    background-image: url('bebas/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 705px;
    color: #fff7df; 
    /* yg di atas warna putih ya */
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 158,34%;
    font-family: sans-serif;
}

.jumbotron .btn {
    border-radius: 100px;
    height: 56px;
    width: 160px;
    background-color: #fff7df;
    border-color: #fff7df;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFC000;
}

/* Services */
.services{
    min-height: 560px;
    background: #FFF7DF;
    text-align: center;
    color: #5C5C5C;
}

h4{
    font-weight: bold;
    font-size: 40px;
    line-height: 158.34%;
    color: #FF8A00;
}

h6{
    font-weight: 900;
    font-size: 20px;
    line-height: 182.7%;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(bebas/ProximaNova-Regular.otf)format('opentype');
}

p .courses a{
    font-family: 'Proxima Nova';
    font-size: 14px;
    line-height: 17px;
}

/* stories */

.stories .btn {
    border-radius: 100px;
    height: 56px;
    width: 160px;
    background-color: #fff7df;
    border-color: #fff7df;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFC000;
}

.stories{
    height: 832px;
    background-image: url(bebas/stories.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* background-color: #FF8A00; */
    /* font-family: 'Roboto', sans-serif; */
}

/* .stories.sh{
    font-family: Arial, Helvetica, sans-serif !important;
} */

.stories p{
    line-height: 30px;
}

/* courses */
.courses{
    min-height: 1126px;
}

.courses a{
    text-decoration: none;
    color: #5C5C5C;
    padding: 2%;
    font-size: 14px;

}

.courses .card{
    height: 279px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.courses img{
    height: 70%;
    padding: 5px;
}
/* .card-text{
    font-size: 1px;
} */

.courses .card-body{
    background: linear-gradient(219.26deg, #FFC000 1.55%, #FF8A00 95.8%);
    font-weight: 900;
    font-size: 14px;
    line-height: 152.34%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.courses p{
    background: linear-gradient(219.26deg, #FFC000 1.55%, #FF8A00 95.8%);
    font-weight: 900;
    font-size: 14px;
    line-height: 152.34%;
    color: white;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.courses .card-top{
    width: 70px;
    height: 33px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
    padding-top: 4px;
    background: linear-gradient(219.26deg, #FFC000 1.55%, #FF8A00 95.8%);
    font-weight: 900;
    font-size: 14px;
    line-height: 152.34%;
    color: white;
}

/* .courses .ww{
    width: 80px;
    height: 35px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
    padding-top: 4px;
} */

/* .courses .btn{
    border-radius: 100px;
    height: 56px;
    width: 160px;
    background-color: #fff7df;
    border-color: #fff7df;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFC000;
} */

/* Achievement */

/* .achievement .p{
    font-family: 'Proxima Nova';
    font-size: 14px;
    line-height: 17px;
    color: white;
} */

.achievement{
    min-height: 298px;
    background: linear-gradient(23.98deg, #FFC000 1.55%, #FF8A00 95.8%);
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

.achievement .o{
    font-size: 12px;
    /* font-family: 'Proxima Nova'!important; */
}

.achievement .j{
    font-size: 13px;
    /* font-family: 'Proxima Nova'!important; */
}

/* Testimonials */
.testimonials{
    min-height: 641px;
    color: #5C5C5C;
}

.testimonials .card{
    border-radius: 5px;
    padding-right: 3;
    padding-left: 3;
}

.testimonials h5{
    font-weight: 900;
    font-size: 16px;
    line-height: 105.47%;
}

.testimonials .card-text{
    line-height: 175.78%;
    text-align: justify;
    font-size: 18px;
    /* padding-top: 3;
    padding-bottom: 3; */
    
}

.testimonials h1{
    color: #FF8A00;
    /* align-content: center; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Proxima Nova'!important; */
    font-family: 'Times New Roman'!important;
}

.testimonials p{
    font-size: 16px;
    /* text-align: center; */
}

/* .testimonials .tt{
    align-content: right;
} */

/* img .kiri{
    float: left;
    align-content: left;
    margin: 5px; 
 }  */

 /* img{
     float: left;
 } */

 /* .testimonials .card-body{
     align-content: left !important;
 } */

 .testimonials .card:hover{
     box-shadow: 0px 12px 35px rgb(160, 121, 0, 0.2);
     border-radius: 5px;
 }
 
 /* Newsletter */
.newsletter{
    min-height: 533px;
    background-image: url('bebas/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.newsletter .display-h4{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FF8A00;
    margin-top: 150px;
}

.newsletter .btn{
    border-radius: 100px;
    width: 160px;
    background: linear-gradient(237.65deg, #FFC000 1.55%, 3FFBA00 95.8%);
    background-color: #FFC000;
    border-color: #FFC000;
}

.newsletter .imgs{
    position: absolute;
    left: 0;
    top: 0;
}
/* Yg di atas buat atur gambar */

/* Contact */
.contact{
    min-height: 314px;
    background: #212121;
    color: white;
    font-family: 'Calibri' !important;
    padding: 20px;
}

.contact p{
    font-size: 16px;
}

.contact li{
list-style: none;
}