body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar {
    height: 100px;
}

.nav-link {
    color: #FFC000 !important;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

.navbar li {
    padding-right: 20px;
}

.navbar .btn {
    border-radius: 100px;
    width: 120px;
    background: linear-gradient(237.65deg, #FFC000 1.55%, 3FFBA00 95.8%);
    background-color: #FFC000;
    border-color: #FFC000;
}

/* Jumbotron */
.jumbotron {
    background-image: url('../Tugas-Tugas/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 705px;
    color: #fff7df; 
    /* yg di atas warna putih ya */
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 158,34%;
}

.jumbotron .btn {
    border-radius: 100px;
    height: 56px;
    width: 160px;
    background-color: #fff7df;
    border-color: #fff7df;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFC000;
}