body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar {
    height: 100px;
}

.nav-link {
    color: #FFC000 !important;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

.navbar li {
    padding-right: 20px;
}

.navbar .btn {
    border-radius: 100px;
    width: 120px;
    background: linear-gradient(237.65deg, #FFC000 1.55%, 3FFBA00 95.8%);
    background-color: #FFC000;
    border-color: #FFC000;
}

/* Jumbotron */
.jumbotron {
    background-image: url('../Tugas-Tugas/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 705px;
    color: #fff7df; 
    /* yg di atas warna putih ya */
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 158,34%;
    font-family: sans-serif;
}

.jumbotron .btn {
    border-radius: 100px;
    height: 56px;
    width: 160px;
    background-color: #fff7df;
    border-color: #fff7df;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFC000;
}

/* Services */
.services{
    min-height: 560px;
    background: #FFF7DF;
    text-align: center;
    color: #5C5C5C;
}

h4{
    font-weight: bold;
    font-size: 40px;
    line-height: 158.34%;
    color: #FF8A00;
}

h6{
    font-weight: 900;
    font-size: 20px;
    line-height: 182.7%;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../Tugas-Tugas/font/proxima/ProximaNova-Regular.otf).format('opentype');
}

p{
    font-family: 'Proxima Nova';
    font-size: 14px;
    line-height: 17px;
}

/* stories */

.stories .btn {
    border-radius: 100px;
    height: 56px;
    width: 160px;
    background-color: #fff7df;
    border-color: #fff7df;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFC000;
}

.stories{
    height: 832px;
    background-image: url(../Tugas-Tugas/img/stories.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* font-family: 'Roboto', sans-serif; */
}

/* .stories.sh{
    font-family: Arial, Helvetica, sans-serif !important;
} */

.stories p{
    line-height: 30px;
}